:root {
  --black: #000807;
  --white: #FBF9FF;
  --gray: #A2A3BB;
  --red1: #CF4D6F;
  --red2: #d2194b;
}

.home-page{
  background-color: var(--white);
  padding: 20px;
}

.NavBar {
  background-color: var(--red1) !important;
  position: sticky;
  /*font-family: "Kantumruy Pro", sans-serif;*/
}

.NavBarBrand {
  /*font-family: 'Poetsen One', 'Arial';*/
  color: var(--pink) !important;
  font-weight: 500;
}

.NavBar .nav-link {
  color: black !important;
  font-weight: 500;
}

.NavBar .nav-link:hover {
  color: var(--gray) !important; 
}

.NavBar .nav-link.active {
  color: var(--white) !important; 
}
